<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/JanART/GW2021/Jan-ART_DesktopHero_1500X600._CB411655412_.jpg" style="width:100%;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);padding: 0em;margin-right: 0em;margin-bottom: 0em;">
        </div>
    
        <div class="mySlides fade">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/CEPC/Wearables/OnePlus/Smart_Band/SaleDay/oneplus_wearable_Available-now_DesktopHero_1500x600._CB412029011_.jpg" style="width:100%;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);padding: 0em;margin-right: 0em;margin-bottom: 0em;">
        </div>
    
        <div class="mySlides fade">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Grocery/Amazon_GRD_DesktopHero_Template_1500x600_sankranti_1x._CB411747800_.jpg" style="width:100%;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);padding: 0em;margin-right: 0em;margin-bottom: 0em;">
        </div>
    
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <div class="categories_adds">
        <div class="categories_adds_1">
            <h2>Home essentials | Amazon Brands & more</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/2-1_186x116._SY116_CB430773131_.jpg" alt="">
                    <p>Bedsheets, curtains & more</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/2-4_186x116._SY116_CB430773130_.jpg" alt="">
                    <p>Cloth organizers, boxes & baskets</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/2-2_186x116._SY116_CB430773130_.jpg" alt="">
                    <p>Wall stickers & clocks</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/2-3_186x116._SY116_CB430773130_.jpg" alt="">
                    <p>Smart bulbs & string lights</p>
                </div>
            </div>
            <%= link_to "See more", store_index_url %>

            
    
        </div>
        <div class="categories_adds_1">
            <h2>Top picks for your home</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Desktop_QC_tile_graphic_186x116_1._SY116_CB414480869_.jpg" alt="">
                    <p>ACs</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Desktop_QC_tile_graphic_372x232_2._SY116_CB414480869_.jpg" alt="">
                    <p>Washing machines</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Desktop_QC_tile_graphic_186x116_4._SY116_CB414480869_.jpg" alt="">
                    <p>Telivisions</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Desktop_QC_tile_graphic_186x116_3._SY116_CB414480869_.jpg" alt="">
                    <p>Refrigerators</p>
                </div>
            </div>
            <a href="#">See more</a>
        </div>
        <div class="categories_adds_1">
            <h2>Upgrade your home</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/B00OT9CS5S_186x116._SY116_CB417134289_.jpg" alt="">
                    <p>Washing machines & more</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/B08345R1ZW_186x116._SY116_CB417134289_.jpg" alt="">
                    <p>Kitchen appliances</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/WFH_186x116._SY116_CB417134289_.jpg" alt="">
                    <p>WFH furniture</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/B01N5KIHWN_186x116._SY116_CB417134288_.jpg" alt="">
                    <p>Bestselling furniture</p>
                </div>
            </div>
            <a href="#">See more</a>
        </div>
        <div class="categories_adds_1" style="background-color:lightgrey">
            <div class="" style="background-color:white;height:40%;align-content:center;width:100%;">
                <% if current_user.present?%>
                <h2>Check your orders</h2>
                <%if @order.exists?%>
                <p style="text-align:center;width:100%"><b><%= link_to  "Returns & Orders",order_path(@order.last.id), style: "text-decoration: none;font-size:15px;"%></b></p>
                <%else%>
                    <h2 style="text-align:center;width:100%">No orders yet</h2>
                <%end%>
                
                <%else%>
                    <div class="s">
                    <%if !current_seller.present?%>
    
                        <h2>Sign in for selling your products</h2>                    
                        <%= button_to  "Seller Sign in", seller_session_path, class:'seller_button_store'%>
                    <%else%>
                        <h2>Sign out for seller</h2>
                        <%= link_to  "Seller Sign out", destroy_seller_session_path, method: :delete,class:'seller_button_store' %>
                    <%end%>
                    </div>

                <%end%>
            </div>
            <div class="">
                <img src="https://m.media-amazon.com/images/G/31/img19/AMS/Houseads/Laptops-Sept2019._CB436595915_.jpg" alt="" style="width:300px;height:300px;margin-top:50px;">
            </div>
            <div class=""></div>
        </div>
        <div class="categories_adds_1">
            <h2>EOSS | Style for Women | Up to 70% off</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/EVENT/WRS_Dec/GW/BTF/PC/WF-372-232/186-116/1._SY116_CB413571277_.jpg" alt="">
                    <p>Women's Clothing</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/EVENT/WRS_Dec/GW/BTF/PC/WF-372-232/186-116/2._SY116_CB413571277_.jpg" alt="">
                    <p>Footwear+Handbbags</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/EVENT/WRS_Dec/GW/BTF/PC/WF-372-232/186-116/5._SY116_CB413571277_.jpg" alt="">
                    <p>Watches</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/EVENT/WRS_Dec/GW/BTF/PC/WF-372-232/186-116/3._SY116_CB413571277_.jpg" alt="">
                    <p>Fashion jewellery</p>
                </div>
            </div>
            <a href="#">See more</a>
        </div>
        <div class="categories_adds_1">
            <h2>Chocolates, sweets & more</h2>
            <div class="">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Grocery/GW/Chocolates_PC_CC_379x304_V2._SY304_CB404777310_.jpg" alt="" style="height:300px;
              width:90%;margin-left:10px;">
            </div>
            <a href="#">See more</a>
        </div>
        <div class="categories_adds_1">
            <h2>Automotive essentials | Up to 60% off</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vega_helmet_372x232._SY116_CB405083904_.jpg" alt="">
                    <p>Helmets</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Tyre_372x232._SY116_CB405083904_.jpg" alt="">
                    <p>Tyres</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Pressurewasher_372x232._SY116_CB405083904_.jpg" alt="">
                    <p>Pressure washer</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Protective_gear_372x232._SY116_CB405083904_.jpg" alt="">
                    <p>Protective gear</p>
                </div>
            </div>
            <a href="#">See more</a>
        </div>
        <div class="categories_adds_1">
            <h2>Amazon Brands & more</h2>
            <div class="categories_adds_1_internal">
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/QC/Home/bedsheet_B06Y5GF9SF_Asins_186x116._SY116_CB409842842_.jpg" alt="">
                    <p>Home products</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GW/QC/Home/Mixer_B07RYL7NSH_Asins_186x116._SY116_CB409842842_.jpg" alt="">
                    <p>Kitchen & dining</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/AmazonBrands/GWTransition/2-4_186x116._SY116_CB433910795_.jpg" alt="">
                    <p>Daily essentials</p>
                </div>
                <div class="">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2020/GatewayNK/PC/spb_186x116._SY116_CB433889053_.jpg" alt="">
                    <p>Clothing essentials</p>
                </div>
            </div>
            <a href="#">See more</a>
        </div>
    
    
    </div>
    
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
    
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    
</body>
</html>