/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    
    font-size: 36px;
    
}
/* 
< !-- Search container --> */
.search-container {
    float: none;
}

.search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}




/* < !-- Search container ends here -->< !-- sign in dropdown --> */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* < !-- sign-in drop down ends here --> */

/* Nav body starts here */
.nav-body{
    display:flex;
    justify-content:space-around;
    align-items:center;
    align-content: center;
    align-self: center;
}
.location{
 margin-top:0px;
}

.search{
    width:50%;
}

.notice, #notice {
    background: #ffb;
    border-radius: 0.5em;
    border: solid 0.177em #882;
    color: #882;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.414em;
    text-align: center;
}


.ama_on{
    width: 60px;
    height:30px;
}



/* Mobile view starts here */
@media screen and (max-width: 360px) {
    .sidenav {
      
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    .location{
        display: none;
    }
    .search{
        display:flex;
        width: 95%;
        order:3;
        height: 50px;
        
    }


    .dropdown{
        display: none;
    }
    .return{
        display: none;
    }
    .amz-icon{
        
        width:50%;
    }
    
    .cart{
        width: 50px;
        position: relative;
        left: 10px;
    }
    .nav-body{
        display:flex;
        flex-wrap: wrap;
    }

    .amz-icon .amz_p{
        font-size: 10px;
    }
    .cn{
        display: none;
    }
    .web-nav{
        padding: 10px;
    }
    body{
        /* width: 330px; */
        width: auto;
    }



}

@media screen and (max-width: 768px) {
    .sidenav {
      
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    .location{
        display: none;
    }
    .search{
        display:flex;
        width: 95%;
        order:3;
        height: 50px;
        
    }


    .dropdown{
        display: none;
    }
    .return{
        display: none;
    }
    .amz-icon{
        
        width:50%;
    }
    
    .cart{
        width: 50px;
        position: relative;
        left: 10px;
    }
    .nav-body{
        display:flex;
        flex-wrap: wrap;
    }

    .amz-icon .amz_p{
        font-size: 10px;
    }
    .cn{
        display: none;
    }
    .web-nav{
        padding: 10px;
    }
    body{
        /* width: 330px; */
        width: auto;
    }



}



