// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.line_items_1{
    display:flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    margin-top:10px;
}
.image_ke_liye{
    img{
        width:310px;
    }
}

