// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 .products {
    margin: 0;
    padding: 0.5em;
    a {
    padding: 0.354em 0.5em;
    border-radius: 0.354em;
    }
    table {
    border-collapse: collapse;
    }
    td {
    padding: 0.5em;
    margin: 0;
    }
    
    tr.list_line_odd {
    background-color: #effeef;
    }
    td.image {
    
    // Hide this on mobile devices
     display: none;
    
    // Assume anything bigger than 30em
    
    // is a non-mobile device and can
    
    // fit the image.
}



    @media (min-width: 30em) {
    
    display: block;
    
    img {
    
    height: 11.3em;
    
    }
    
    }

td.description {
    h1 {
    font-size: 1.4em;
    }
    }
    td.actions {
    ul {
    padding: 0;
    list-style: none;
    li {
    padding: 0.5em 0.5em;
    }
    }
    }
    tfoot {
    td {
    padding: 0.5em 0;
    }
    }
}

.product_discription{
    display:flex;
    width:80%;
    img{
        width:500px;
        height:720px;
    }
    h1{
        font-size:36px;
        line-height: 40px
    }
    h4{
        font-size:24px;
        
        line-height: 32px;
    }
    .button{
        background-color: #f8ca68;
        border-radius: 12px;
        height: 50px;
        width: 300px;
    }
}


.container {
    


    
    // max-width: 80em;
    ul.catalog {
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
    padding: 1em;
    margin: 0;
    border-bottom: solid thin #ddd;
    // This makes sure our <li> has enough height
    // to hold the entire image, since it's floated
    &::after {
    clear: both;
    content: " ";
    display: block;
    }
    img {
    float: left;
    width: 320px;
    height: auto;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0.176em 0.176em 0.354em 0px rgba(0,0,0,0.75);
    }
    .price {
    font-size: 1.414em;
    }
    form, div {
    display: inline;
    }
    input[type="submit"] {
    background-color: #282;
    border-radius: 0.354em;
    border: solid thin #141;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
    }
    input[type="submit"]:hover {
    background-color: #141;
    }
}
    }
}
.container{
    background-color: white;
    padding: 25px;  
    width:80%;
    margin:auto;
    border-left:3px solid rgb(149, 158, 149);
    
}

@media (max-width:360px){
    .product_discription{
        display:flex;
        flex-wrap: wrap;
        width:auto;
        
        img{
            width:320px;
            height:400px;
        }
        h1{
            font-size:26px;
            line-height: 30px
        }
        h4{
            font-size:16px;
            line-height: 20px;
        }
    }
}
