<tr>
    <td><%= link_to  image_tag(line_item.product.image_url), root_path %></td>

    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
</tr>