<div>

<div style="width:50%;margin:auto;line-height:30px;padding-bottom:50px;">
<h2>Thanks, you have paid <strong>
<%= number_to_currency(@amount)%><br>
Your order will be delivered within 7 days.
</strong>
!</h2>
<div class="tenor-gif-embed"  data-postid="13189973" data-share-method="host" data-width="100%" data-aspect-ratio="1.3333333333333333"><a href="https://tenor.com/view/special-delivery-delivery-patrick-starfish-sponge-bob-square-pants-gif-13189973">Special Delivery. GIF</a> from <a href="https://tenor.com/search/specialdelivery-gifs">Specialdelivery GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script></div>
</div>
