<div>
<div style="width:20%;margin:auto;line-height:30px;padding-bottom:50px;">
<h2>Thanks, you have paid <strong>
<%= number_to_currency(@amount)%><br>
Your order will be delivered within 7 days
</strong>
</h2>
<img src="https://cdn.dribbble.com/users/2121936/screenshots/4814257/ezgif-1-64fc188f39.gif" alt="" style="width:320px;height:320px;">
<script>
  setTimeout(function () {
    window.location.href = "store/index";
  }, 3000);
</script>
<p>Do not refresh. You will be redirected to main page soon.....</p>
</div>

